center{
    color:white
}
h1{
    color:white
}
body {
    background-image:url('https://yumii.s-ul.eu/a6BUfqvL.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    max-height:100%;
    max-width:100%;
}
 div center{
    display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
 }
 .twt {
    display: flex;
}

.yt {
    display: flex;
    flex-direction: column;
    align-items: center;
}