center{
    color:white
}
h1{
    color:white
}
body {
    background-image:url('https://yumii.s-ul.eu/a6BUfqvL.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    max-height:100%;
    max-width:100%;
}
  .centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }